@import url("../Header/header.css");

body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    text-align: center;
}

.profile {
    margin: 50px auto;
    padding: 30px;
    width: 60%;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

img {
    width: 150px;
    border-radius: 50%;
}

.role {
    font-weight: bold;
    color: gold;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}